TOKEN= COLOQUE_SEU_TOKEN
CLIENT_ID= COLOQUE_SEU_ID_CLIENTE

Canal_ABERTURA_ID= ID_DO_CANAL_DE_ABERTURA

Categoria_RH_ID= ID_DA_CATEGORIA
Categoria_FINANCEIRO_ID= ID_DA_CATEGORIA
Categoria_NOC_ID= ID_DA_CATEGORIA
Categoria_ESTOQUE_ID= ID_DA_CATEGORIA
Categoria_COBRANCA_ID= ID_DA_CATEGORIA
Categoria_SUPORTE_ID= ID_DA_CATEGORIA
Categoria_AGENDAMENTO_ID= ID_DA_CATEGORIA
Categoria_COMERCIAL_ID= ID_DA_CATEGORIA


CARGO_RH_ID= ID_DO_CARGO
CARGO_FINANCEIRO_ID= ID_DO_CARGO
CARGO_NOC_ID= ID_DO_CARGO
CARGO_ESTOQUE_ID= ID_DO_CARGO
CARGO_COBRANCA_ID= ID_DO_CARGO
CARGO_SUPORTE_ID= ID_DO_CARGO
CARGO_AGENDAMENTO_ID= ID_DO_CARGO
CARGO_COMERCIAL_ID= ID_DO_CARGO
CARGO_LOGS_TICKETS_ID=ID_DO_CARGO
CANAL_LOGS_TICKETS_ID=ID_DO_CANAL